export SUI_RPC_URL='https://wave3-rpc.testnet.sui.io:443/';
export SUI_PRICE_USD="50"; # This will be deprecated soon...
export VALIDATOR_ADDRESS="0xc7ec33d8f05aa633a32447207c036af1e479ee62c60963067a729b6df065eddc";
export VALIDATOR_COSTS_USD="500";
export COINGECKO_API_URL="https://api.coingecko.com/api/v3";
export COINGECKO_COIN_ID="bitcoin"; # For now...
