export RPC_URL='https://wave3-rpc.testnet.sui.io:443/';
export VALIDATOR_ADDRESS="0xc7ec33d8f05aa633a32447207c036af1e479ee62c60963067a729b6df065eddc";
export SUI_PRICE_USD="50";
export SERVER_COSTS_USD="500";
